/* ~~~~~~~~~~ ⬇️ Your Code START Here ⬇️ ~~~~~~~~~~ */
.body-container h1, h2 {
    color: #535ac2;
    background-color: #abbcff;
    background-color: #b4c3ff;
}
h2 {
    margin-top: -8px;
    color: #535ac2;
    color: #627bde;
}
/* p {
    color: #275c79;
} */
.box > p {
    color: #ffffff;
    display: inline-block;
    margin-bottom: 0;
    letter-spacing: .125px;
    font-size: 14.5px;
}

.box li {
    color: #6666ff;
    color: #cc66ff;
    letter-spacing: .125px;
    font-size: 14.5px;
    margin: .25rem 0;
}
/* 
.box > li {
    color: red;
}
.box ul > li {
    color: red;
} 
*/

.list li.done {
    color: seagreen;
    color: #87ffbb;
    /* color: #9dffe2; */
    color: #aeffd1;
}

ul p.done {
    font-size: .75rem;
    color: #3889ed;
}