/* ~~~~~~~~~~ ⬇️ Your Code START Here ⬇️ ~~~~~~~~~~ */
body.css-flags {
    background-image: linear-gradient(180deg, 
    #75afb7, 
    #9bc7ce, #afd3d9, #bedbe0, 
    #c6dee4, #c6dee4, #c6dee4, #c6dee4, #c6dee4, #c6dee4, #c6dee4, #c6dee4, 
    #c6dee4, #c6dee4, #c6dee4, #c6dee4, #c6dee4, #c6dee4, #c6dee4, #c6dee4, 
    #c6dee4, #c6dee4, #c6dee4, #c6dee4, #c6dee4, #c6dee4, #c6dee4, #c6dee4, 
    #c6dee4, #c6dee4, #c6dee4, #c6dee4, #c6dee4, #c6dee4, #c6dee4, #c6dee4, 
    #c6dee4, #c6dee4, #c6dee4, #c6dee4, #c6dee4, #c6dee4, #c6dee4, #c6dee4, 
    #c6dee4, #c6dee4, #c6dee4, #c6dee4, #c6dee4, #c6dee4, #c6dee4, #c6dee4, 
    #d3e8eb, #d3e8eb, #d3e8eb, #d3e8eb, #d3e8eb, #d3e8eb, #d3e8eb, #d3e8eb, #d3e8eb, #d3e8eb,
    #d3e8eb, #d3e8eb, #d3e8eb, #d3e8eb, #d3e8eb, #d3e8eb, #d3e8eb, #d3e8eb, #d3e8eb, #d3e8eb,
    #d3e8eb, #d3e8eb, #d3e8eb, #d3e8eb, #d3e8eb, #d3e8eb, #d3e8eb, #d3e8eb, #d3e8eb, #d3e8eb,
    #d3e8eb, #d3e8eb, #d3e8eb, #d3e8eb, #d3e8eb, #d3e8eb, #d3e8eb, #d3e8eb, #d3e8eb, #d3e8eb,
    #d3e8eb, #d3e8eb, #d3e8eb, #d3e8eb, #d3e8eb, #d3e8eb, #d3e8eb, #d3e8eb, #d3e8eb, #d3e8eb,
    #d3e8eb, #d3e8eb, #d3e8eb, #d3e8eb, #d3e8eb, #d3e8eb, #d3e8eb, #d3e8eb, #d3e8eb, #d3e8eb,
    #d3e8eb, #d3e8eb, #d3e8eb, #d3e8eb, #d3e8eb, #d3e8eb, #d3e8eb, #d3e8eb, #d3e8eb, #d3e8eb,
    #d3e8eb, #d3e8eb, #d3e8eb, #d3e8eb, #d3e8eb, #d3e8eb, #d3e8eb, #d3e8eb, #d3e8eb, #d3e8eb,
    #d3e8eb, #d3e8eb, #d3e8eb, #d3e8eb, #d3e8eb, #d3e8eb, #d3e8eb, #d3e8eb, #d3e8eb, #d3e8eb,
    #d3e8eb, #d3e8eb, #d3e8eb, #d3e8eb, #d3e8eb, #d3e8eb, #d3e8eb, #d3e8eb, #d3e8eb, #d3e8eb,
    #d3e8eb, #d3e8eb, #d3e8eb, #d3e8eb, #d3e8eb, #d3e8eb, #d3e8eb, #d3e8eb, #d3e8eb, #d3e8eb,
    #d3e8eb, #d3e8eb, #d3e8eb, #d3e8eb, #d3e8eb, #d3e8eb, #d3e8eb, #d3e8eb, #d3e8eb, #d3e8eb,
    #d3e6eb, #d3e6eb, #d3e6eb, #d3e6eb, #d3e6eb, #d3e6eb, #d3e6eb, #d3e6eb,
    #d3e6eb, #d3e6eb, #d3e6eb, #d3e6eb, #d3e6eb, #d3e6eb, #d3e6eb, #d3e6eb,
    #d3e6eb, #d3e6eb, #d3e6eb, #d3e6eb, #d3e6eb, #d3e6eb, #d3e6eb, #d3e6eb,
    #d3e6eb, #d3e6eb, #d3e6eb, #d3e6eb, #d3e6eb, #d3e6eb, #d3e6eb, #d3e6eb,
    #d3e6eb, #d3e6eb, #d3e6eb, #d3e6eb, #d3e6eb, #d3e6eb, #d3e6eb, #d3e6eb,
    #d3e6eb, #d3e6eb, #d3e6eb, #d3e6eb, #d3e6eb, #d3e6eb, #d3e6eb, #d3e6eb,
    #d3e6eb, #d3e6eb, #d3e6eb, #d3e6eb, #d3e6eb, #d3e6eb, #d3e6eb, #d3e6eb,
    #d3e6eb, #d3e6eb, #d3e6eb, #d3e6eb, #d3e6eb, #d3e6eb, #d3e6eb, #d3e6eb,
    #d3e6eb, #d3e6eb, #d3e6eb, #d3e6eb, #d3e6eb, #d3e6eb, #d3e6eb, #d3e6eb,
    #d3e6eb, #d3e6eb, #d3e6eb, #d3e6eb, #d3e6eb, #d3e6eb, #d3e6eb, #d3e6eb,
    #d3e6eb, #d3e6eb, #d3e6eb, #d3e6eb, #d3e6eb, #d3e6eb, #d3e6eb, #d3e6eb,
    #d3e6eb, #d3e6eb, #d3e6eb, #d3e6eb, #d3e6eb, #d3e6eb, #d3e6eb, #d3e6eb
    );
    color: #4f759e;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    min-height: 100vh;
    padding: .5rem 2rem;
}

/* ~~~~~ laos flag ~~~~~ */
.flag {
    background-color: #CE1126;
    color: white;
    width: 900px;
    height: 600px;
    position: relative;
    font-size: 80px;
    text-align: center;
}
.flag div {
    background-color: #002868;
    width: 900px;
    height: 300px;
    position: absolute;
    top: 150px;
}

.flag div div {
    background-color: white;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    color: black;
    position: absolute;
    left: 350px;
    top: 50px;
}

.flag div div p {
    position: absolute;
    line-height: 1;
    top: 8px;
}

/* ~~~~~ laos flag ~~~~~ */
.flag-small {
    background-color: #CE1126;
    color: white;
    width: 720px;
    height: 480px;
    position: relative;
    font-size: 60px;
    text-align: center;
}
.flag-small div {
    background-color: #002868;
    width: 720px;
    height: 240px;
    position: absolute;
    top: 120px;
}

.flag-small div div {
    background-color: white;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    color: black;
    position: absolute;
    left: 280px;
    top: 40px;
}

.flag-small div div p {
    position: absolute;
    line-height: 1;
    top: 10px;
}

/* ~~~~~ korean flag ~~~~~ */
.korean-flag-small {
    background-color: white;
    width: 720px;
    height: 480px;
    position: relative;
}
.inner-circle-wrapper {
    position: absolute;
    top: 140px;
    left: 260px;
}
.half-circle-red {
    background-color: #CD2E3A;
    width: 200px;
    height: 100px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
}
.inner-circle-red {
    width: 100px;
    height: 100px;
    background-color: #CD2E3A;
    position: absolute;
    border-radius: 100px;
    top: 50px;
}
.half-circle-blue {
    background-color: #0047A0;
    width: 200px;
    height: 100px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
}
.inner-circle-blue {
    width: 100px;
    height: 100px;
    background-color: #0047A0;
    position: absolute;
    border-radius: 100px;
    top: 50px;
    right: 0px;
}

.blackline {
    width: 130px;
}

.blackline-top-left {
    transform: rotate(135deg);
    position: absolute;
    left: 150px;
    top: 19%;
}
.blackline-top-right {
    transform: rotate(-135deg);
    position: absolute;
    right: 150px;
    top: 19%;
}
.blackline-bottom-left {
    transform: rotate(45deg);
    position: absolute;
    left: 150px;
    bottom: 19%;
}
.blackline-bottom-right {
    transform: rotate(-45deg);
    position: absolute;
    right: 150px;
    bottom: 19%;
}

.line {
    margin: 8px;
    display: flex;
}
.line-full {
    background-color: #000;
    width: 100%;
    height: 17px;
}

.blackline-top-right .line-1, 
.blackline-top-right .line-3 {
    display: flex;
}
.line-half {
    background-color: #000;
    width: 50%;
    height: 17px;
}
.line-half:first-child {
    margin-right: 5px;
}
.line-half:last-child {
    margin-left: 5px;
}

/* ~~~~~ japan flag ~~~~~ */
.japan-flag-small {
    background-color: white;
    width: 720px;
    height: 480px;
    position: relative;
}
.red-circle {
    background-color: #BC002D;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    top: 140px;
    left: 260px;
}

/* ~~~~~ thailand flag ~~~~~ */
.thailand-flag-small {
    background-color: #A51931;
    width: 720px;
    height: 480px;
    position: relative;
}
.white-line {
    background-color: #F4F5F8;
    width: 720px;
    height: 320px;
    position: absolute;
    top: 80px;
}
.blue-line {
    background-color: #2D2A4A;
    height: 160px;
    width: 720px;
    position: absolute;
    top: 80px;
}

/* ~~~~~ england flag ~~~~~ */
.england-flag-small {
    background-color: #fff;
    width: 720px;
    height: 480px;
    position: relative;
}
.red-line {
    background-color: #CF081F;
}
.vertical {
    height: 480px;
    width: 70px;
    position: absolute;
    left: 325px;
}
.horizontal {
    position: absolute;
    height: 70px;
    width: 720px;
    top: 205px;
}

/* ~~~~~ france flag ~~~~~ */
.france-flag-small {
    background-color: #fff;
    width: 720px;
    height: 480px;
    position: relative;
}
.line-blue-vertical {
    width: 240px;
    height: 480px;
    background-color: #002654;
}
.line-red-vertical {
    width: 240px;
    height: 480px;
    background-color: #ED2939;
    position: absolute;
    right: 0;
    top: 0;
}

/* ~~~~~ UK flag ~~~~~ */
.uk-flag-small {
    background-color: #012169;
    width: 720px;
    height: 480px;
    position: relative;
    overflow: hidden;
}
.white-line {
    position: relative;
    /* z-index: 1; */
}
.white-line.horizontal {
    top: 180px;
    height: 130px;
    position: absolute;
}
.white-line.vertical {
    width: 130px;
    left: 295px;
    top: 0;
    position: absolute;
}
.uk-flag-small .red-line {
    position: absolute;
}
.red-line.vertical {
    width: 80px;
    left: 25px;
    left: 320px;
}
.red-line.horizontal {
    height: 80px;
    top: 25px;
    top: 205px;
}

.diagonal-line {
    background-color: white;
    width: 80px;
    height: 880px;
    position: absolute;
}
.diagonal-line.right {
    transform: rotate(55deg);
    left: 45%;
    top: -43%;
} 
.diagonal-line.left {
    transform: rotate(-55deg);
    right: 45%;
    top: -43%;
} 
.diagonal-line-left, 
.diagonal-line-right {
    background-color: #CF081F;
    height: 380px;
    width: 28px;
    position: absolute;
}
.diagonal-line-left.top {
    left: 12px;
    top: 10px;
}
.diagonal-line-left.bottom {
    left: 12px;
    top: 10px;
}
.diagonal-line-right.top {
    bottom: 0;
    left: 12px;
    left: 40px;
}
.diagonal-line-right.bottom {
    bottom: 0;
    left: 40px;
}

/* ~~~~~ US flag ~~~~~ */
.us-flag-small {
    background-color: #fff;
    width: 720px;
    height: 480px;
    position: relative;
    /* overflow: hidden; */
}
.us-blue-box {
    width: 320px;
    height: 259px;
    background-color: #0A3161;
    position: absolute;
    z-index: 1;
}

.star-row {
    padding: 0.25px 0;
    display: flex;
}
.star-row:first-child {
    margin-top: 8px;
}
.star {
    width: 53.33px;
    padding: 0 15px;
}
.star-img {
    width: 100%;
}
.star-buffer {
    width: 26.66px;
}

.us-red-lines {
    position: relative;
}
.us-red-line {
    height: 37px;
    width: 720px;
    position: absolute;
    background-color: #B31942;
}
.red-2 {
    top: 74px;
}
.red-3 {
    top: 148px;
}
.red-4 {
    top: 222px;
}
.red-5 {
    top: 296px;
}
.red-6 {
    top: 370px;
}
.red-7 {
    top: 444px;
}

/* ~~~~~ canada flag ~~~~~ */
.canada-flag-small {
    background-color: #FF0000;
    width: 720px;
    height: 480px;
    position: relative;
    text-align: center;
}
.white-box {
    background-color: white;
    height: 480px;
    width: fit-content;
    margin: auto;
    display: flex;
    align-items: center;
    padding: 0 35px;
}
.maple-leaf {
    width: 300px;
}

/* ~~~~~ italy flag ~~~~~ */
.italy-flag-small {
    background-color: #fff;
    width: 720px;
    height: 480px;
    position: relative;
}
.it-line-green-vertical {
    width: 240px;
    height: 480px;
    background-color: #0d9444;
}
.it-line-red-vertical {
    width: 240px;
    height: 480px;
    background-color: #bd222e;
    position: absolute;
    right: 0;
    top: 0;
}
/* ~~~~~ italy flag ~~~~~ */
.sweden-flag-small {
    background-color: #026ba9;
    width: 720px;
    height: 480px;
    position: relative;
}
.yellow-line {
    background-color: #fece01;
}
.yellow-line.vertical {
    height: 480px;
    width: 75px;
    position: absolute;
    left: 220px;
}
.yellow-line.horizontal {
    position: absolute;
    height: 75px;
    width: 720px;
    top: 205px;
}

/* ~~~~~ denmark flag ~~~~~ */
.denmark-flag-small {
    background-color: #cc0202;
    width: 720px;
    height: 480px;
    position: relative;
}
.denmark-white-line {
    background-color: #ffffff;
}
.denmark-white-line.vertical {
    height: 480px;
    width: 75px;
    position: absolute;
    left: 220px;
}
.denmark-white-line.horizontal {
    position: absolute;
    height: 75px;
    width: 720px;
    top: 205px;
}

/* ~~~~~ germany flag ~~~~~ */
.germany-flag-small {
    background-color: #dd0201;
    width: 720px;
    height: 480px;
    position: relative;
}
.germany-black-line {
    background-color: #000;
    width: 720px;
    height: 33.333333%;
}
.germany-yellow-line {
    background-color: #ffce01;
    width: 720px;
    height: 33.333333%;
    position: absolute;
    bottom: 0;
}