/* ~~~~~~~~~~ ⬇️ Your Code START Here ⬇️ ~~~~~~~~~~ */
.box {
    background-color: #4692b8;
    background-color: #3285af;
    background-color: #4c5eff;
    /* background-color: rgba(76, 94, 255, 0.8); */
    /* border: 5px solid #2134dd; */
    width: 500px;
    height: 300px;

    position: relative;
    top: 100px;
    left: 100px;
}
.circle {
    width: 200px;
    height: 200px;
    background-color: #fd6ae2;
    background-color: #ff6ffd;
    /* background-color: rgba(255, 111, 253, 0.8); */
    /* border: 3px solid #ff00aa; */
    border-radius: 50%;

    position: absolute;
    top: 150px;
    left: 250px;
    top: 50%;
    left: 50%;
}
.circle2 {
    width: 200px;
    height: 200px;
    background-color: #7e3dff;
    background-color: #ff00aa;
    background-color: hsla(320, 100%, 50%, 0.7);
    /* background-color: #e60099; */
    /* border: 3px solid yellow; */
    border-radius: 50%;

    position: absolute;
    top: 50px;
    left: 150px;
    /* top: 50%; */
    /* left: 50%; */
}