/* ~~~~~~~~~~ ⬇️ Your Code START Here ⬇️ ~~~~~~~~~~ */
.box {
    width: 200px;
    height: 200px;
}
.box-1 {
    background-color: #5c9fe6;
    border: 10px solid black;
    color: white;
    padding: 20px;
}
.box-1 p {
    margin: 0;
    font-size: 15.5px;
}
.box-2 {
    background-color: #58278d;
    border: solid #d923fe;
    border-width: 20px 10px;
    margin-left: 260px;
}
.box-3 {
    background-color: #c4ff58;
    border: 10px solid #0037ff;
    margin-left: 40px;
}