/* ~~~~~~~~~~ ⬇️ Your Code START Here ⬇️ ~~~~~~~~~~ */
.box {
    background-color: blue;
    padding: 10px;
}
.inner-box {
    background-color: red;
}
/* 
.inner-box p {
    color: white;
} 
*/
.white-text {
    color: white;
}
#outer-box {
    background-color: purple;
}
p {
    color: yellow;
    margin: 0;
    padding: 0;
    font-size: 15px;
}
