/* ~~~~~~~~~~ ⬇️ Your Code START Here ⬇️ ~~~~~~~~~~ */
ol {
    margin-left: -40px;
    margin-top: -20px;
    margin-top: -.425rem;
    list-style-position: inside;
}

p {
    color: red;
}

.note {
    font-size: 20px;
}

#id-selector-demo {
    color: green;
}

li[value="4"] {
    color: blue;
}

.body-container * {
    text-align: center;
}