/* ~~~~~~~~~~ ⬇️ Your Code START Here ⬇️ ~~~~~~~~~~ */
h1, h2, h3 {
    text-transform: capitalize;
}
.movie-box-group {
    padding: 0 1rem;
    padding: 0 .5rem;
}
.movie-box-wrapper {
    display: flex;
    justify-content: right;
    margin: 2rem 0;
    margin: 2.25rem 0;
    max-width: 380px;
    max-width: 400px;
    max-width: 450px;
    max-width: 400px;
    background-color: red;
    background-image: linear-gradient(0deg, #2a8793, #2f9a9c);
    background-image: linear-gradient(0deg, #2f869c, #2f9a9c, #a6dbe9);
    background-image: linear-gradient(0deg, #2f869c, #2f9a9c, #9ed1bb);

    background-image: linear-gradient(0deg, #2f739c, #17a0a3, #a6d3ba);
    background-image: linear-gradient(0deg, #437fa5, #27a6a9, #b5dbc6);
    background-image: linear-gradient(180deg, #437fa5, #27a6a9, #b1ebbf);
    background-image: linear-gradient(180deg, #437fa5, #27a6a9, #aadcb6);
    background-image: linear-gradient(180deg, #437fa5, #27a6a9, #a0d4ac);
    /* background-image: linear-gradient(180deg, #437fa5, #27a6a9, #a0d4ac, #a0d4cd); */
    background-image: linear-gradient(180deg, #437fa5, #27a6a9, #a0d4ac, #698ad3);
    background-image: linear-gradient(180deg, #5c7fb6, #9fceaa, #339fa0);
    background-image: linear-gradient(180deg, #6495c6, #3c9a9c);
    background-image: linear-gradient(180deg, #6495c6, #46a0a1);
    background-image: linear-gradient(180deg, #4e87c1, #35a3a4);
    border-radius: 8px 18px 18px 8px;
    border-radius: 6px 22px 22px 6px;
    border-left: 1px solid rgb(0 0 0 / 10%);
}
.movie-box-wrapper:last-child {
    margin-bottom: .5rem;
}
.movie-box {
    background-color: #e5e5e5;
    background-image: linear-gradient(180deg, #e5e5e5, #f2f1f1);
    /* border-left: #4d81d4 5px solid; */
    /* border-left: #2f9a9c 5px solid; */
    /* border-left: #2a9193 5px solid; */
    /* border-left: #2a8793 5px solid; */
    /* border-left: #249293 5px solid; */
    box-shadow: 3px 4px 5px rgba(9, 17, 29, 0.2);

    padding: 2rem 1.75rem 2.125rem;
    padding: 1.625rem 1.5rem 1.625rem;
    padding: 1.625rem 1.625rem 1.625rem;
    /* padding: 1.75rem 1.75rem 1.75rem; */
    color: #425864;
    color: #4d5861;
    color: #566d91;
    color: #4a5d7a;
    color: #57657a;
    /* color: #4b5667; */
    border-radius: 8px 18px 18px 8px;
    border-radius: 1px 22px 22px 1px;
    width: 98.75%;
    width: 99%;
}
.movie-box-title {
    color: #12489e;
    color: #325ea4;
    font-size: 20px;
    margin: 0 0 1rem;
}
.rank-no {
    background-color: rgba(0, 85, 170, 0.15);
    /* background-color: hsla(181, 54%, 40%, 0.15); */
    /* color: #2f9a9c; */
    border-radius: 50px;
    font-size: 17px;
    margin-right: 5px;
    padding: 2px 9px 3px 9px;
}
.star-rating {
    display: flex;
    align-items: center;
}
.star-rating-label {
    margin-right: 8px;
}
.star-rating-point {
    margin-left: 6px;
    font-size: 13px;
}
.stars {
    color: #ff9100;
    color: #7cbbb9;
    color: #69b7b4;
    color: #69b7a4;
    color: #69b799;
    color: #56b691;
 
    color: #5eb0ad;
    color: #44b3af;
    color: #69b7b4;
    color: #5db3b0;
    color: #5db3a6;
    color: #51a599;
    color: #45a597;
}
.movie-box p {
    font-size: 13.25px;
    line-height: 1.5;
}
.movie-box p:last-child {
    margin-bottom: 0;
}
.movie-img-wrapper img {
    border-radius: 4px;
    margin: 0;
    max-width: 500px;
    padding: 0 2px;
}