/* ~~~~~~~~~~ ⬇️ Your Code START Here ⬇️ ~~~~~~~~~~ */
.body-container {
    margin-top: 20px;
}
.template-title-wrapper-container.content-wrapper {
    margin-bottom: 0;
}
.template-title-wrapper-container.content-wrapper .template-title-wrapper {
    margin-bottom: 20px;
}

.code-tag {
    font-family: monospace;
    background-color: #292929;
    border-radius: 3px;
    padding: 1px 4px 3px 4px;
    color: white;
    color: #2dff6c;
    margin: 0 3px;
    font-size: 13px;
}