/* ~~~~~~~~~~ ⬇️ Your Code START Here ⬇️ ~~~~~~~~~~ */
.body-container {
    display: flex;
    justify-content: center;
    padding: 2rem 0;
    padding: 2.375rem 0 2rem;
}
.birthday-card {
    background-color: #f4f4f4;
    background-image: linear-gradient(0deg, #bbbac2, #f4f4f4, #f9f9f9);
    border: 1px solid #bbbac2;
    border: 1px solid #dfdee4;
    background-image: linear-gradient(0deg, #d1d0d5, #f4f4f4, #f9f9f9);
    border: 1px solid #d1d0d5;
    border-radius: 16px;
    box-shadow: 3px 5px 4px rgba(16, 38, 71, 0.15);
    margin: 1.25rem 0;
    margin: 0 0 1rem;
    max-width: 542px;
    padding: 1.25rem;
    text-align: center;
    width: fit-content;
}
.birthday-card-title {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 48px;
    margin: -0.75rem 0 0.25rem !important;
    margin-right: -80px !important;
    letter-spacing: 80px;
    
    font-size: 54px;
    margin: -1rem 0 -0.5rem !important;
    margin: -.625rem 0 0.125rem !important;
    margin-right: -20px !important;
    letter-spacing: 20px;

    /* font-size: 42px;
    margin: -0.5rem 0 0.25rem !important;
    margin-right: -36px !important;
    letter-spacing: 36px; */
    text-transform: uppercase;

    color: #e666e0;
    background: -webkit-linear-gradient(10deg, #163b75, #eb8eee, #f7abf9, #a6e1f9, #a6c9f9, #a6aaf9, #6d77df);
    background: -webkit-linear-gradient(10deg, #1d1566, #7d8cde, #c9b2fa, #ff9af3, #fdb5ff, #a6e1f9, #a6c9f9, #a6aaf9);
    background: -webkit-linear-gradient(10deg, #1d1566, #7d8cde, #c9b2fa, #ff9af3, #fdbfff, #a6e1f9, #a6aaf9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.birthday-card-subtitle {
    color: #464894;
    font-size: 28.5px;   
    font-size: 26.5px;   
    margin-bottom: -0.75rem;
    margin-top: -0.125rem;
}
.birthday-card-secondary-subtitle {
    color: #13275a;
    font-size: 19px;
}
.starline {
    color: #585d84;
    font-size: 18px;
}
.starline.left {
    margin-right: 5px;
}
.starline.right {
    margin-left: 5px;
}
.star {
    color: #67cef3;
    color: #b4dcff;
    color: #a7cff3;
    padding: 0 10px;
    /* font-size: 95%; */
}
.birthday-card img {
    max-width: 500px;
}

.birthday-content {
    max-width: 542px;
    width: 100%;
    display: flex;
}
.birthday-col {
    width: 50%;
    padding: .75rem;
    padding: .5rem 0 .5rem .75rem;
    padding: .5rem 0 0 .75rem;
}
.col-left {
    width: 68%;
}
.col-right {
    width: 32%;
}
.birthday-col-icon-wrapper {
    margin-right: 10px;
    padding: 4px;
    background-color: #cbcad3;
    background-image: linear-gradient(315deg, #c1bfcc, #e2e1e5);
    background-image: linear-gradient(315deg, #b2b0c0, #c1bfcc, #ecebef);
    background-image: linear-gradient(315deg, #bebcc9, #f0eef3);
    width: 20px;
    height: 20px;
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 3px 2px rgba(16, 38, 71, 0.25);
    border-radius: 20px;
}
.birthday-col-icon {
    font-size: 14px;
    color: #3c4390;
    color: #4f4ca4;
    /* color: #4c599b; */
}
.birthday-col h3 {
    color: #253c61;
    color: #2c3062;
    color: rgba(44, 48, 98, 0.85);
    font-size: 17px;
    margin-bottom: -.1rem;
    margin-top: 0;

    display: flex;
    align-items: center;
}
.birthday-col ul {
    padding-inline-start: 18px;
    margin-bottom: 0;
}
.birthday-col ul li {
    margin: .3rem 0;
}
.mb-minus06 {
    margin-bottom: -.6rem;
}
.inline-icon {
    font-size: 10px;
    margin-left: 6px;
}