/* ~~~~~~~~~~ ⬇️ Your Code START Here ⬇️ ~~~~~~~~~~ */
.movie-list-item {
    border-bottom: 1px dashed rgb(44, 126, 134);
    padding-bottom: 18px;
    max-width: 560px;
}
.movie-list-item:last-child {
    border-bottom: 0;
    padding-bottom: 0;
}
.movie-list-item-content {
    display: flex;
}
.movie-list-item-title {
    margin-bottom: .875rem;
}
.movie-img-wrapper {
    margin-right: 18px;
}
.movie-img {
    width: 220px;
}
.movie-list-item-desc {
    margin: 0;
}
