/* ~~~~~~~~~~ ⬇️ Your Code START Here ⬇️ ~~~~~~~~~~ */
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');

.my-website {
    max-width: 360px;
    max-width: 380px;
    max-width: 370px;
    /* max-width: 340px; */
    /* max-width: 380px; */
    text-align: center;
    background-color: white;
    background-color: #c1dff2;
    background-image: linear-gradient(180deg, #b4c9ff, #c1dff2, #d7e5ed);
    background-image: linear-gradient(180deg, #b4c9ff, #bbdcff, #c4e8ff, #d7e5ed);
    background-image: linear-gradient(180deg, #b4c9ff, #bbdcff, #c4e8ff, #e8f0f5);
    /* background-image: linear-gradient(-40deg, #b4c9ff, #bbdcff, #c4e8ff, #d7e5ed); */
    /* background-image: linear-gradient(0deg, #b4c9ff, #bbdcff, #c4e8ff, #d7e5ed); */
    border-radius: 36px;
    /* border-radius: 38px; */
    /* border-radius: 40px; */
    /* border-radius: 160px 160px 36px 36px; */
    /* border-radius: 48px; */
    border: 2px solid #93bdea;
    border: 2px solid #86b1df;
    border: 2px solid #89b8eb;
    border: 2px solid #6f97c2;
    border: 2px solid rgb(100 122 218 / 35%);
    border: 2px solid rgb(100 122 218 / 40%);
    margin: auto;
    box-shadow: 7px 10px 10px rgba(53, 52, 94, 0.5);
    box-shadow: 6px 12px 10px rgba(47, 47, 74, 0.25);
    box-shadow: 6px 10px 10px rgba(35, 35, 56, 0.375);
    /* box-shadow: 8px 10px 10px rgba(35, 35, 56, 0.25); */
    margin: 3rem auto;
}

.my-website-content.body {
    padding: 2rem 2rem 0.5rem;
    padding: 1rem 2rem 0.625rem;
}
.my-website-content.footer {
    padding: 0.5rem 2rem 2rem;
    padding: 0.625rem 2rem 2rem;
}
.website-title {
    color: #6a8de4;
    color: #6a78e4;

    color: #6a80e4;
    color: #798eea;
    color: #6885d5;
    color: #687cd5;
    color: #647ada;
    
    color: #6178de;
    color: #6479d8;
    font-size: 2.875rem;
    font-size: 3rem;
    font-size: 3.125rem;
    /* font-size: 3.5rem; */
    /* font-weight: 800; */
    margin-top: -.5rem;
    margin-bottom: .75rem;
    letter-spacing: 1px;
    /* text-transform: uppercase; */
    /* font-family: cursive; */
    font-family: 'DM Serif Display', serif;
}
.my-website p {
    color: #6a80e4;
    color: hsla(223, 42%, 36%, 0.8);
    padding: 0 2rem;
    font-size: 13px;
}

.luciferin {
    max-width: 200px;
    max-width: 220px;
    /* max-width: 180px; */
    border-radius: 80px 160px 80px 160px;
    border-radius: 200px 80px 200px 80px;
    border-radius: 200px;
    padding: 7px;
    padding: 6px;
    /* padding: 5px; */
    background-image: linear-gradient(180deg, #b2bdf9, #9dd6f9, #e2f5f8);
    background-image: linear-gradient(180deg, #b2bdf9, #9dd6f9, #e2f5f8, #f2fdfe, #e2f5f8, #8bb0ee);
    background-image: linear-gradient(0deg, #b2bdf9, #9dd6f9, #e2f5f8, #f2fdfe, #e2f5f8, #8bb0ee);
    /* border-radius: 500px; */
    border: 1px solid #a0a3cc;
    border: 1px dashed #a0a3cc;
    border: 2px dashed #959bf0;
    border: 1px dashed #868bd6;
    border: 2px dotted #ffffff;
    border: 4px dotted #ffffff;
    /* border: 2px dotted #a0a3cc; */
    transition: all .3s ease;
}
.luciferin:hover {
    background-image: linear-gradient(110deg, #b2bdf9, #9dd6f9, #e2f5f8, #f2fdfe, #e2f5f8, #8bb0ee);
    border: 4px dotted #8b91e0;
    border: 4px dotted #7e92ee;
    border: 4px dotted #8a9ef6;
}

.contact-me {
    padding: 11px 20px;
    padding: 11px 22px;
    padding: 15px 30px;
    padding: 14px 28px;
    padding: 13px 36px;
    padding: 15px 64px;
    border-radius: 10px;
    /* border-radius: 12px; */
    background-color: #6a82e4;
    background-color: #6a78e4;
    background-color: #657bdf;
    /* background-color: #6a80e4; */
    /* background-color: #6a80e4; */
    margin-top: 2px;
    display: inline-block;
    color: white !important;
    transition: all .125s ease;
    letter-spacing: .375px;
    font-size: 14.75px;
}
.contact-me:hover {
    background-color: #6a78e4;
    background-color: #6a8de4;
    background-color: #8291ff;
    background-color: #93a0ff;

    background-color: #5d6bd3;

    background-color: #5d72d2;
    background-color: #596ece;
    /* background-colorgb(90, 114, 219)6c9; */
    /* background-color: #576fdb; */

    /* background-color: #5866ca; */
    text-decoration: none;
}
hr {
    margin: 1rem 0;
    /* border-top: 1px dotted #93a0ff; */
    /* border-bottom: 2px solid #93b9ff; */
    border-top: 0;
    /* border-top: 1px solid #cfe9f5; */
    border-bottom: 2px solid #ffffff;
    border-bottom: 3px solid #ffffff;
    /* border-bottom: 2px solid #9eb8cb; */
    /* border-bottom: 2px solid rgba(158, 184, 203, 0.7); */
    background-color: transparent;
}