/* ~~~~~~~~~~ ⬇️ Your Code START Here ⬇️ ~~~~~~~~~~ */
h1, h2, h3 {
    text-transform: capitalize;
}
.movie-box-group {
    padding: 0 1rem;
    padding: 0 .5rem;
}

.movie-box {
    background-color: #e5e5e5;
    background-image: linear-gradient(180deg, #e5e5e5, #f2f1f1);
    border-left: #4d81d4 5px solid;
    border-left: #2f9a9c 5px solid;
    border-left: #2a9193 5px solid;
    border-left: #2a8793 5px solid;

    border-left: #3694a1 5px solid;
    border-left: #338c99 5px solid;

    /* border-left: #249293 5px solid; */
    border-radius: 8px 18px 18px 8px;
    border-radius: 8px 22px 22px 8px;
    box-shadow: 3px 4px 5px rgba(14, 25, 42, 0.2);
    margin: 2rem 0;
    margin: 2.25rem 0;
    max-width: 380px;
    max-width: 400px;
    padding: 2rem 1.75rem 2.125rem;
    padding: 1.625rem 1.5rem 1.625rem;
    color: #425864;
    color: #4d5861;
    color: #566d91;
    color: #4a5d7a;
    color: #57657a;
    /* color: #4b5667; */
}
.movie-box:last-child {
    margin-bottom: .5rem;
}
.movie-box-title {
    color: #12489e;
    color: #325ea4;
    font-size: 20px;
    margin: 0 0 1rem;
}
.rank-no {
    background-color: rgba(0, 85, 170, 0.15);
    /* background-color: hsla(181, 54%, 40%, 0.15); */
    /* color: #2f9a9c; */
    border-radius: 50px;
    font-size: 17px;
    margin-right: 5px;
    padding: 2px 9px 3px 9px;
}
.star-rating {
    display: flex;
    align-items: center;
}
.star-rating-label {
    margin-right: 8px;
}
.star-rating-point {
    margin-left: 6px;
    font-size: 13px;
}
.stars {
    color: #ff9100;
    color: #7cbbb9;
    color: #69b7b4;
}
.movie-box p {
    font-size: 13.25px;
    line-height: 1.5;
}
.movie-box p:last-child {
    margin-bottom: 0;
}
.movie-img-wrapper img {
    border-radius: 4px;
    margin: 0;
    max-width: 500px;
    padding: 0 2px;
}