/* ~~~~~~~~~~ ⬇️ Your Code START Here ⬇️ ~~~~~~~~~~ */

/* ~~~~~ Spanish ~~~~~~ */
.color-title {
    font-size: 18px;
}
.spanish-color-img {
    max-width: 140px;
}

/* ~~~~~ Japanese ~~~~~~ */
.jp-sentence {
    display: inline-block;
    font-size: 80%;
    margin-top: .25rem;
    font-weight: 400;
    background-color: #6da6a4;
    background-color: rgb(109 166 164 / 80%);
    border-radius: 4px;
    padding: 0px 2px;
    margin-left: 4px;
}
.color-group {
    padding: 4px 12px;
}
.color-row {
    display: flex;
}
.color-card {
    background-color: #dfdfdf;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    border: 1px solid #cbcbcb;
    padding: 8px;
    width: fit-content;
    margin: 13px;
}
.color-card:first-child {
    margin-left: 0;
}
.color-card:last-child {
    margin-right: 0;
}
.color-card .color-name {
    color: #444444 !important;
    font-size: 13.5px;
    margin: 0 0 6px;
    font-weight: normal;
}
.color-box {
    width: 100px;
    height: 100px;
    border-radius: 8px;
}

.red { background-color: red; }
.orange { background-color: #ff5500; }
.yellow { background-color: #fbb947; }
.green { background-color: #008a45; }
.blue { background-color: #3838ff; }
.purple { background-color: #5d00b4; }
.white { background-color: white; }
.black { background-color: black; }
.grey { background-color: #727272; }
.brown { background-color: #74411a; }
.pink { background-color: #ff8c9f; }