/* ~~~~~~~~~~ ⬇️ Your Code START Here ⬇️ ~~~~~~~~~~ */
.body-container {
    text-align: center;
}
.motivational-meme {
    text-align: center;
    width: 75%;
    max-width: 580px;
    /* max-width: 560px; */
    /* max-width: 680px; */
    background-color: black;
    color: white;
    padding: 2.5rem 2.75rem;
    margin: auto;
    font-family: 'Libre Baskerville', serif;
}
img {
    max-width: inherit;
}
.motivational-meme-image {
    border: 5px solid white;
    border: 5px solid yellow;
    border-radius: 0;
    width: 100%;
}
.motivational-meme-title {
    color: white;
    /* color: yellow; */
    text-transform: uppercase;
    /* lato */
    font-size: 2.125rem;
    /* libre baskerville*/
    font-size: 2rem;
    /* font-size: 2.25rem; */
    margin-bottom: -.425rem;
    margin-top: 1.25rem !important;
}
.motivational-meme-desc {
    /* lato */
    font-size: 16px;
    /* libre baskerville*/
    font-size: 15px;
    margin-bottom: 0;
}