/* ~~~~~~~~~~ ⬇️ Your Code START Here ⬇️ ~~~~~~~~~~ */
/* body {
    background-color: #C2D9FF;
    background-image: linear-gradient(0deg, #afceff, #C2D9FF);
    background-image: linear-gradient(180deg, #8bb0ff, #a3c0ff, #C2D9FF, #C2D9FF, #C2D9FF, #C2D9FF, #C2D9FF, #C2D9FF, #C2D9FF, #C2D9FF, #d0e2ff, #d0e2ff, #d0e2ff, #d0e2ff, #d0e2ff, #d0e2ff, #d0e2ff, #d0e2ff, #d0e2ff, #ddeaff, #ddeaff, #ddeaff, #ddeaff, #ddeaff, #d0e2ff, #d0e2ff, #d0e2ff, #d0e2ff, #d0e2ff);
    background-image: linear-gradient(180deg, #8bb0ff, #aec7ff, #C2D9FF, #C2D9FF, #C2D9FF, #C2D9FF, #cbdfff, #cbdfff, #cbdfff, #cbdfff, #d0e2ff, #d0e2ff, #d0e2ff, #d0e2ff, #d0e2ff, #d0e2ff, #d0e2ff, #d0e2ff, #d0e2ff, #ddeaff, #ddeaff, #ddeaff, #ddeaff, #ddeaff, #d0e2ff, #d0e2ff, #d0e2ff, #d0e2ff, #d0e2ff);
    min-height: 100vh;
} */

.body-container {
    /* background-color: #C2D9FF; */
    /* background-color: #33BBC5; */
    /* background-image: linear-gradient(90deg, #33BBC5, #C2D9FF); */
    /* background-image: linear-gradient(90deg, #44bdb9, #9ea1fc); */
    background-image: linear-gradient(90deg, #9ea1fc, #44bdb9);
    background-image: linear-gradient(90deg, #9ea1fc, #44bdb9);
    /* dark */
    background-image: linear-gradient(90deg, #a3a6e9, #5cbdba);
    /* light */
    background-image: linear-gradient(90deg, #a9abe0, #69c2bf);
    /* background-image: linear-gradient(90deg, #b1b4ff, #6fccc9); */
}

.developer-profile {
    padding: 20px 0 0;
    padding: 5px 0 0;
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    /* max-width: 360px; */
}

.phantasmoth {
    width: 100px;
    width: 90px;
    width: 92px;
    /* width: 80px; */
    /* width: 86px; */
    /* width: 70px; */
    margin-top: -2px;
}

.developer-profile-content {
    /* margin-left: .75rem; */
    margin-top: .875rem;
}

.body-container h1 {
    margin-top: 0;
}

.developer-profile-title {
    margin: .875rem 0 0;
    margin: 1rem 0 0;
    font-size: 26px;
    /* font-size: 28px; */
    /* font-size: 24px; */
    background-color: #B6FFFA;
    background-image: linear-gradient(90deg, #567beb, #B6FFFA);
    background-image: linear-gradient(90deg, #5e81eb, #B6FFFA);
    background-image: linear-gradient(90deg, #5e6feb, #6a9eff, #a1dee3);
    background-image: linear-gradient(90deg, #6a7af3, #6a9eff, #a1dee3);
    background-image: linear-gradient(90deg, #6a7af3, #6a9eff, #a1dee3);
    background-image: linear-gradient(90deg, #6a7af3, #6eb1fd, #a1dee3);
    background-image: linear-gradient(90deg, #6c7ade, #66a6f0, #94cacf);
    /* dark */
    background-image: linear-gradient(90deg, #6471d6, #66a6f0, #94cacf);
    /* light */
    background-image: linear-gradient(90deg, #6c79dd, #6eadf5, #9bd2d7);
    /* background-image: linear-gradient(90deg, #5e81eb, #B6FFFA); */
    /* background-image: linear-gradient(90deg, #8084fe, #5e81eb, #B6FFFA); */
    /* background-image: linear-gradient(90deg, #5e81eb, #8a8eff, #B6FFFA); */
    /* background-image: linear-gradient(90deg, #B6FFFA, #5e81eb, #8a8eff); */

    color: #687EFF;
    color: #ffffff;
    /* color: #35A29F; */
    display: block;
    padding: 2px 6px;
    padding: 4px 14px 6px 14px;
    border-radius: 2px 16px 2px 16px; 
    border-radius: 20px 1px 20px 1px ; 
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
    letter-spacing: .25px;
    letter-spacing: .375px;
    margin-bottom: 2px;
}

.developer-profile-desc {
    color: #6499E9;
    background-color: #9EDDFF;
    color: #B6FFFA;
    color: #abffc0;
    color: #d8e5db;
    background-color: #6499E9;
    background-image: linear-gradient(90deg, #6499E9, #567beb);
    background-image: linear-gradient(90deg, #0b8b97, #7185fa);
    background-image: linear-gradient(90deg, #1e959f, #6176ec);
    background-image: linear-gradient(90deg, #1e959f, #4e61cd);
    background-image: linear-gradient(90deg, #1e959f, #4253b4);
    background-image: linear-gradient(90deg, #2ba4af, #4e6abf);
    /* dark */
    background-image: linear-gradient(90deg, #2ba4af, #4764bb);
    /* dark */
    background-image: linear-gradient(90deg, #37abb5, #506cc1);
    background-image: linear-gradient(90deg, #43aeb4, #5782cd);
    /* background-image: linear-gradient(90deg, #2ba4af, #3e69bb); */
    padding: 2px 16px 3px 16px;
    padding: 3px 16px 3px 16px;
    border-radius: 12px 1px 12px 1px; 
    font-size: 12px;
    font-size: 12.5px;
    letter-spacing: .225px;
    margin: 0;
}