/* ~~~~~~~~~~ ⬇️ Your Code START Here ⬇️ ~~~~~~~~~~ */
p {
    color: white;
    margin: 0;
    font-size: 15px;
    letter-spacing: .5px;
}

.purpleblue {
    background-color: #7588e0;
    background-color: #608cde;
    width: 200px;
    height: 200px;
    display: block;
}
.teal {
    background-color: #2ea096;
    width: 200px;
    height: 200px;
    display: inline;
}
.pink {
    background-color: #e27cc8;
    width: 200px;
    height: 200px;
    display: inline-block;
}

/* --- challenge 1 --- */
.challenge-1 .purpleblue {
    display: inline-block;
}
.challenge-1 .teal {
    display: inline-block;
}
.challenge-1 .pink {
    display: inline-block;
}

/* --- challenge 2 --- */
.challenge-2 .purpleblue {
    display: block;
}
.challenge-2 .teal {
    display: block;
}
.challenge-2 .pink {
    display: block;
}

/* ~~~~~~~~~~~~ 🩵 Luciferin 🩵 ~~~~~~~~~~~~ */
.box-row {
    display: flex;
}

.box-col {
    padding: 0 .5rem;
}
.box-col:first-child {
    padding-left: 0;
}
.box-col:last-child {
    padding-right: 0;
}

.box-col.horizontal {
    display: flex;
}
/* .box-col.horizontal .box {
    display: inline-block;
} */

.box {
    width: 150px;
    height: 150px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    transition: all .2s ease;
}
.box:hover {
    filter: brightness(80%);
}
.box1 {
    background-color: #608cde;
}
.box2 {
    background-color: #2ea096;
}
.box3 {
    background-color: #e27cc8;
}
.box-size {
    display: block;
    /* opacity: .6; */
    font-size: 75%;
    margin-top: 4px;
    letter-spacing: .25px;
    color: #275c79;
    color: #1b4e69;
    /* color: rgba(26, 61, 80, 0.8); */
}